
  <header id="top-header">
    <h1 class="siteName">
      <a href="/" title="Return to CSE Motors home page">CSE Motors</a>
    </h1>
    <div id="tools">
     <% if (typeof loggedin !== 'undefined' && loggedin && typeof accountData !== 'undefined') { %>
      <ul>
        <li><a href="/accounts/" title="Account Management">Welcome <%= accountData.account_firstname %></a></li>
        <li><a href="/accounts/logout" title="Logout">Logout</a></li>
      </ul>
    <% } else { %>
      <ul>
        <li><a href="/accounts/" title="My Account">My Account</a></li>
      </ul>
    <% } %>
    </div>
  </header>

