<nav>
  <ul>
    <li><a href="/" title="View the CSE Motors home page">Home</a></li>
    <li><a href="/inventory/type/custom" title="Explore custom vehicles">Custom</a></li>
    <li><a href="/inventory/type/sedan" title="Browse sedan models">Sedan</a></li>
    <li><a href="/inventory/type/suv" title="Browse SUV models">SUV</a></li>
    <li><a href="/inventory/type/truck" title="Browse truck models">Truck</a></li>
  </ul>
</nav>