<table class="accounts-table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    <% if (accounts && accounts.length > 0) { %>
      <% accounts.forEach(function(account) { %>
        <tr>
          <td><%= account.account_firstname %></td>
          <td><%= account.account_lastname %></td>
          <td><%= account.account_email %></td>
          <td><%= account.account_type %></td>
        </tr>
      <% }); %>
    <% } else { %>
      <tr>
        <td colspan="5" class="no-data">No accounts found.</td>
      </tr>
    <% } %>
  </tbody>

     <!-- Action Buttons -->
    <div class="actions">
        <a href="/accounts/" class="btn">Back</a>
    </div>
</table>


